@import '../../styles/variables';
@import '../../styles/mixins';

.chart {
  &__container {
    background-color: $primary-white;
  }

  &__title {
    padding-bottom: 2rem;
    font-size: 2rem;
    color: $primary-white;
  }

  &__field {
    padding-bottom: 2rem;
  }

  &__field-title {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: $primary-white;
  }

  &__input {
    @include moreInput;
  }
}
