@import '../../styles/variables';

.header {
  padding: 1rem 0;
  background-color: $mainColor;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo-wrapper {
    display: block;
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
  }

  &__logo {
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__menu-link {
    position: relative;
    display: block;
    padding: 0.5rem;
    font-size: 2rem;
    color: $primary-white;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.2rem;
      background-color: $primary-white;
      transition: width $td $tf;
    }

    &:hover,
    &:active,
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
}
