@import '../styles/_variables.scss';

//:root {
//  --content-font-size: 1.8rem;
//}

html {
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.container {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 2rem;
}

strong {
  font-weight: 700;
}
