@import '../../styles/mixins';

.support {
  @include staticSection;

  &__title {
    font-size: 2.5rem;
    text-align: center;
  }

  &__link {
    color: currentColor;
    transition: opacity $td $tf;

    &:hover,
    &:active {
      opacity: 0.8;
    }
  }
}
